<center>
  <br style="line-height:7;">
<body>
  <table border="1" bordercolor="#000000" width=10><td>
    <img src="https://i.imgur.com/sT8ydHw.png" width="250" heigth="240">
    <center>
    <div>
        <label for="username">Create Username:</label>
        <input type="text" id="username" name="username">
    </div>
    <br style="line-height:2;">
    <div>
        <label for="username"> Email Address:</label>
        <input type="text" id="emailaddress" name="emailaddress">
    </div>
<br style="line-height:2;">
    <div>
        <label for="pass"> Create Password:</label>
        <input type="password" id="pass" name="password"
               minlength="8" required>
    </div>
<br style="line-height:2;">
    <input type="submit" value="Create Account">

  <br style="line-height:2;">
  <p>Already a user? Log in <a href="/login">here</a> instead!</p>
  <br style="line-height:2;">
    </center>
</td></table>
</body>
</center>
